### Importing Libraries

In [1]:
import pandas as pd
import numpy as np
from statistics import *

### Importing DataFrames

In [2]:
df_main = pd.read_csv('./data/incidents.csv')
df_names = pd.read_csv('./data/names.csv')
df_census = pd.read_csv('./data/counties.csv')
df_states = pd.read_csv('./data/state_abbrv.csv')

pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

/Users/trevorodonnell/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (2,15,26) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

### Incidents DataFrame

Checking the first ten rows of the incidents dataframe, which we will also be refered to as the main dataframe.

In [3]:
df_main.head()

,Unique ID,Name,Age,Gender,Race,Race with imputations,Imputation probability,URL of image (PLS NO HOTLINKS),Date of injury resulting in death (month/day/year),Location of injury (address),Location of death (city),State,Location of death (zip code),Location of death (county),Full Address,Latitude,Longitude,Agency or agencies involved,Highest level of force,UID Temporary,Name Temporary,Armed/Unarmed,Alleged weapon,Aggressive physical movement,Fleeing/Not fleeing,Description Temp,URL Temp,Brief description,"Dispositions/Exclusions INTERNAL USE, NOT FOR ANALYSIS",Intended use of force (Developing),Supporting document link,"Foreknowledge of mental illness? INTERNAL USE, NOT FOR ANALYSIS",Unnamed: 32,Unnamed: 33,Unique ID formula,Unique identifier (redundant)
0,25747.0,Mark A. Horton,21,Male,African-American/Black,African-American/Black,Not imputed,NaN,01/01/2000,Davison Freeway,Detroit,MI,48203.0,Wayne,Davison Freeway Detroit MI 48203 Wayne,42.4045,-83.092274,NaN,Vehicle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Two Detroit men killed when their car crashed ...,Unreported,Pursuit,https://drive.google.com/file/d/1-nK-RohgiM-tZ...,No,NaN,NaN,NaN,25747.0
1,25748.0,Phillip A. Blurbridge,19,Male,African-American/Black,African-American/Black,Not imputed,NaN,01/01/2000,Davison Freeway,Detroit,MI,48203.0,Wayne,Davison Freeway Detroit MI 48203 Wayne,42.4045,-83.092274,NaN,Vehicle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Two Detroit men killed when their car crashed ...,Unreported,Pursuit,https://drive.google.com/file/d/1-nK-RohgiM-tZ...,No,NaN,NaN,NaN,25748.0
2,25746.0,Samuel H. Knapp,17,Male,European-American/White,European-American/White,Not imputed,NaN,01/01/2000,27898-27804 US-101,Willits,CA,95490.0,Mendocino,27898-27804 US-101 Willits CA 95490 Mendocino,39.4709,-123.361751,Mendocino County Sheriff's Office,Vehicle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Samuel Knapp was allegedly driving a stolen ve...,Unreported,Pursuit,https://drive.google.com/file/d/10DisrV8K5ReP1...,No,NaN,NaN,NaN,25746.0
3,25749.0,Mark Ortiz,23,Male,Hispanic/Latino,Hispanic/Latino,Not imputed,NaN,01/01/2000,600 W Cherry Ln,Carlsbad,NM,88220.0,Eddy,600 W Cherry Ln Carlsbad NM 88220 Eddy,32.4501,-104.237643,Eddy County Sheriff's Office,Vehicle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A motorcycle was allegedly being driven errati...,Unreported,Pursuit,https://drive.google.com/file/d/1qAEefRjX_aTtC...,No,NaN,NaN,NaN,25749.0
4,1.0,LaTanya Janelle McCoy,24,Female,African-American/Black,African-American/Black,Not imputed,NaN,01/02/2000,5700 block Mack Road,Sacramento,CA,95823.0,Sacramento,5700 block Mack Road Sacramento CA 95823 Sacra...,38.4739,-121.433776,Sacramento Police Department,Vehicle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LaTanya Janelle McCoy's car was struck from be...,Unknown,Pursuit,http://www.recordnet.com/article/20000110/A_NE...,No,NaN,NaN,NaN,1.0

Here we define a function which will return the list of null values in a given dataset, sorted in the descecnding value.

In [4]:
def null_sort(df):
     return df.apply(pd.isnull).sum().sort_values(ascending=False).loc[lambda x: x>0]

### Inital null value check

In [5]:
main_nulls = null_sort(df_main)
main_nulls = pd.DataFrame(main_nulls)
main_nulls

                                                        0
Unnamed: 32                                         30799
Unnamed: 33                                         30798
Unique ID formula                                   30797
URL Temp                                            30796
Description Temp                                    29957
UID Temporary                                       28495
Name Temporary                                      28495
Alleged weapon                                      16939
Armed/Unarmed                                       16937
Fleeing/Not fleeing                                 16936
Aggressive physical movement                        16936
URL of image (PLS NO HOTLINKS)                      16480
Age                                                  1169
Imputation probability                                707
Race with imputations                                 688
Location of injury (address)                          553
Location of death (zip code)                          186
Gender                                                138
Agency or agencies involved                            78
Foreknowledge of mental illness? INTERNAL USE, ...     62
Location of death (city)                               39
Location of death (county)                             16
Highest level of force                                  4
Intended use of force (Developing)                      3
Brief description                                       2
Dispositions/Exclusions INTERNAL USE, NOT FOR A...      2
Supporting document link                                2
Race                                                    1
Unique identifier (redundant)                           1
State                                                   1
Full Address                                            1
Latitude                                                1
Longitude                                               1
Unique ID                                               1

### Dropping all columns with more than 1,200 null rows

In [6]:
main_nulls_1 = main_nulls[main_nulls[0] > 1200]
main_nulls_1 = list(main_nulls_1.T.columns)
df_main = df_main.drop(columns = main_nulls_1)

### Dropping other unnecessary columns

In [7]:
df_main = df_main.drop(columns = [
                        'Location of injury (address)',
                        'Location of death (city)',
                        'Location of death (zip code)',
                        'Full Address', 
                        'Latitude',
                        'Longitude',
                        'Supporting document link',
                        'Unique identifier (redundant)'])

### Checking the updated shape of the main dataframe

In [8]:
df_main.shape

(30799, 16)

### Dropping last row, which does not have relevant information

In [9]:
df_main = df_main.drop(index = [30798])

### Checking for nulls again

In [10]:
main_nulls_2 = null_sort(df_main)
main_nulls_2 = pd.DataFrame(main_nulls_2)
main_nulls_2

                                                       0
Age                                                 1168
Imputation probability                               706
Race with imputations                                687
Gender                                               137
Agency or agencies involved                           77
Foreknowledge of mental illness? INTERNAL USE, ...    61
Location of death (county)                            15
Highest level of force                                 3
Intended use of force (Developing)                     2
Dispositions/Exclusions INTERNAL USE, NOT FOR A...     1
Brief description                                      1

### Examining data types

In [11]:
df_main.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30798 entries, 0 to 30797
Data columns (total 16 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   Unique ID                                                        30798 non-null  float64
 1   Name                                                             30798 non-null  object
 2   Age                                                              29630 non-null  object
 3   Gender                                                           30661 non-null  object
 4   Race                                                             30798 non-null  object
 5   Race with imputations                                            30111 non-null  object
 6   Imputation probability                                           30092 non-null  object
 7    Date of injury resulting in death (month/day/year)              30798 non-null  object
 8   State                                                            30798 non-null  object
 9   Location of death (county)                                       30783 non-null  object
 10  Agency or agencies involved                                      30721 non-null  object
 11  Highest level of force                                           30795 non-null  object
 12  Brief description                                                30797 non-null  object
 13  Dispositions/Exclusions INTERNAL USE, NOT FOR ANALYSIS           30797 non-null  object
 14  Intended use of force (Developing)                               30796 non-null  object
 15  Foreknowledge of mental illness? INTERNAL USE, NOT FOR ANALYSIS  30737 non-null  object
dtypes: float64(1), object(15)
memory usage: 4.0+ MB

### Converting date information to date-time data type

In [12]:
df_main['Date'] = pd.to_datetime(df_main[' Date of injury resulting in death (month/day/year)'])

### Extracting various date intervals from date-time column

In [13]:
df_main['year'] = pd.DatetimeIndex(df_main['Date']).year
df_main['month'] = pd.DatetimeIndex(df_main['Date']).month
df_main['week_of_year'] = df_main['Date'].dt.strftime('%U')
df_main['day_of_month'] = pd.DatetimeIndex(df_main['Date']).day
df_main['day_of_week'] = pd.DatetimeIndex(df_main['Date']).dayofweek
df_main['day_of_year'] = pd.DatetimeIndex(df_main['Date']).dayofyear

### Lowering the case of, as well as filling nulls of the "Agency or agencies involved" column

In [14]:
df_main["Agency or agencies involved"] = df_main["Agency or agencies involved"].str.lower()

In [15]:
df_main['Agency or agencies involved'].fillna('None', inplace= True)

In [16]:
### Defining a function that will identify which type of agency was involved

In [17]:
def agencyifier(x):
    x1 = str(x)
    if ',' in x1:
        return 'multiple_agencies'
    elif 'police' in x1:
        return 'police'
    elif 'sheriff' in x1:
        return 'sheriff'
    elif x1 == 'None':
        return 'None'
    else: 
        return 'other'

### Apply a lambda function to agency column, simplifying the type of agency

In [18]:
df_main['Agency'] = df_main['Agency or agencies involved'].apply(lambda x: agencyifier(x))

### Examining distribution of agencies involved

In [19]:
df_main['Agency'].value_counts(normalize=True)

police               0.640918
sheriff              0.216735
multiple_agencies    0.077765
other                0.062082
None                 0.002500
Name: Agency, dtype: float64

### Dropping rows where the Age column is null

In [20]:
df_main.dropna(subset = ['Age'], inplace=True )

### Checking for nulls again

In [21]:
main_nulls_3 = null_sort(df_main)
main_nulls_3 = pd.DataFrame(main_nulls_3)
main_nulls_3

                                                      0
Imputation probability                              483
Race with imputations                               466
Foreknowledge of mental illness? INTERNAL USE, ...   60
Location of death (county)                           13
Gender                                               13
Highest level of force                                3
Intended use of force (Developing)                    2
Dispositions/Exclusions INTERNAL USE, NOT FOR A...    1
Brief description                                     1

### Dropping all remainig rows with null values in the dataframe

In [22]:
df_main.dropna(inplace=True)

### Final null value check for incidents dataframe

In [23]:
main_nulls_3 = null_sort(df_main)
main_nulls_3 = pd.DataFrame(main_nulls_3)
main_nulls_3

Empty DataFrame
Columns: [0]
Index: []

### Creating dataframe exclusively for observations where name has been withheld by police

In [24]:
df_main1 = df_main.drop(df_main[df_main.Name == 'Name withheld by police'].index)

### Creating dataframe exclusively for observations where race is unspecified

In [25]:
race_unspecified = df_main[df_main['Race'] == 'Race unspecified']

In [26]:
withheld = df_main[df_main['Name'] == 'Name withheld by police']

In [27]:
df_main1.to_csv('./cleaned_data/incidents2.csv')

## Census DataFrame

Looking at the first five rows of the census dataframe.

By examining the column names, we can see that we cover a variety of standard census topics. However, they are very patchy and inconsistent in their corresponding years.

In [28]:
df_census.head()

,fips,state,name,pop2000,pop2010,pop2011,pop2012,pop2013,pop2014,pop2015,pop2016,pop2017,age_under_5_2010,age_under_5_2017,age_under_18_2010,age_over_65_2010,age_over_65_2017,median_age_2017,female_2010,white_2010,black_2010,black_2017,native_2010,native_2017,asian_2010,asian_2017,pac_isl_2010,pac_isl_2017,other_single_race_2017,two_plus_races_2010,two_plus_races_2017,hispanic_2010,hispanic_2017,white_not_hispanic_2010,white_not_hispanic_2017,speak_english_only_2017,no_move_in_one_plus_year_2010,foreign_born_2010,foreign_spoken_at_home_2010,women_16_to_50_birth_rate_2017,hs_grad_2010,hs_grad_2016,hs_grad_2017,some_college_2016,some_college_2017,bachelors_2010,bachelors_2016,bachelors_2017,veterans_2010,veterans_2017,mean_work_travel_2010,mean_work_travel_2017,broadband_2017,computer_2017,housing_units_2010,homeownership_2010,housing_multi_unit_2010,median_val_owner_occupied_2010,households_2010,households_2017,persons_per_household_2010,persons_per_household_2017,per_capita_income_2010,per_capita_income_2017,metro_2013,median_household_income_2010,median_household_income_2016,median_household_income_2017,private_nonfarm_establishments_2009,private_nonfarm_employment_2009,percent_change_private_nonfarm_employment_2009,nonemployment_establishments_2009,firms_2007,black_owned_firms_2007,native_owned_firms_2007,asian_owned_firms_2007,pac_isl_owned_firms_2007,hispanic_owned_firms_2007,women_owned_firms_2007,manufacturer_shipments_2007,mercent_whole_sales_2007,sales_2007,sales_per_capita_2007,accommodation_food_service_2007,building_permits_2010,fed_spending_2009,area_2010,density_2010,smoking_ban_2010,poverty_2010,poverty_2016,poverty_2017,poverty_age_under_5_2017,poverty_age_under_18_2017,civilian_labor_force_2007,employed_2007,unemployed_2007,unemployment_rate_2007,civilian_labor_force_2008,employed_2008,unemployed_2008,unemployment_rate_2008,civilian_labor_force_2009,employed_2009,unemployed_2009,unemployment_rate_2009,civilian_labor_force_2010,employed_2010,unemployed_2010,unemployment_rate_2010,civilian_labor_force_2011,employed_2011,unemployed_2011,unemployment_rate_2011,civilian_labor_force_2012,employed_2012,unemployed_2012,unemployment_rate_2012,civilian_labor_force_2013,employed_2013,unemployed_2013,unemployment_rate_2013,civilian_labor_force_2014,employed_2014,unemployed_2014,unemployment_rate_2014,civilian_labor_force_2015,employed_2015,unemployed_2015,unemployment_rate_2015,civilian_labor_force_2016,employed_2016,unemployed_2016,unemployment_rate_2016,uninsured_2017,uninsured_age_under_6_2017,uninsured_age_under_19_2017,uninsured_age_over_74_2017,civilian_labor_force_2017,employed_2017,unemployed_2017,unemployment_rate_2017,age_over_18_2019,age_over_65_2019,age_over_85_2019,age_under_5_2019,asian_2019,avg_family_size_2019,bachelors_2019,black_2019,hispanic_2019,household_has_broadband_2019,household_has_computer_2019,household_has_smartphone_2019,households_2019,households_speak_asian_or_pac_isl_2019,households_speak_limited_english_2019,households_speak_other_2019,households_speak_other_indo_euro_lang_2019,households_speak_spanish_2019,housing_mobile_homes_2019,housing_one_unit_structures_2019,housing_two_unit_structures_2019,hs_grad_2019,mean_household_income_2019,mean_work_travel_2019,median_age_2019,median_household_income_2019,median_individual_income_2019,median_individual_income_age_25plus_2019,native_2019,other_single_race_2019,pac_isl_2019,per_capita_income_2019,persons_per_household_2019,pop_2019,poverty_2019,poverty_65_and_over_2019,poverty_under_18_2019,two_plus_races_2019,unemployment_rate_2019,uninsured_2019,uninsured_65_and_older_2019,uninsured_under_19_2019,uninsured_under_6_2019,veterans_2019,white_2019,white_not_hispanic_2019
0,1001,Alabama,Autauga County,43671.0,54571,55199.0,54927.0,54695.0,54864.0,54838.0,55278.0,55504.0,6.6,5.7,26.8,12.0,14.3,37.8,51.3,78.5,17.7,9.55,0.4,0.15,0.9,0.47,NaN,0.04,0.65,1.6,0.84,2.4,2.67,77.2,75.42,96.2,86.3,2.0,3.7,7.4,85.3,87.6,87.7,28.7,29.1,21.7,24.6,25.0,5817,12.6,25.1,25.8,76.6,86.2,22135,77.5,7.2,133900,19718,21054.0,2.70,2.59,24568,27841.70,1.0,53255,54487.0,55317.0,877,10628,16.6,2971.0,4067.0,15.2,NaN,1.3,NaN,0.7,31.7,NaN,NaN,598175.0,12003.0,88157.0,191,331142.0,594.44,91.8,none,10.6,13.5,13.7,17.2,20.0,24383.0,23577.0,806.0,3.31,24687.0,23420.0,1267.0,5.13,24703.0,22301.0,2402.0,9.72,25713.0,23431.0,2282.0,8.87,25836.0,23677.0,2159.0,8.36,25740.0,23961.0,1779.0,6.91,25810.0,24205.0,1605.0,6.22,25602.0,24107.0,1495.0,5.84,25602.0,24272.0,1330.0,5.19,25918.0,24593.0,1325.0,5.11,8.8,1.1,3.2,0.0,25909.0,24908.0,1001.0,3.86,76.2,15.0,1.6,5.8,1.0,3.09,26.6,19.0,2.8,80.6,73.0,78.4,21397,1.8,0.7,0.2,0.3,2.9,26.7,17.3,73.3,88.5,75326,24.4,38.2,58731,29725,40778,0.3,0.7,0.0,29819,2.56,55380,15.2,8.7,23.2,2.2,3.5,7.1,0.0,1.7,1.7,12.6,76.8,74.6
1,1003,Alabama,Baldwin County,140415.0,182265,186534.0,190048.0,194736.0,199064.0,202863.0,207509.0,212628.0,6.1,5.7,23.0,16.8,19.0,42.6,51.1,85.7,9.4,4.77,0.7,0.41,0.7,0.35,NaN,0.00,0.39,1.5,0.82,4.4,4.44,83.5,83.08,94.5,83.0,3.6,5.5,5.1,87.6,90.0,90.2,31.8,31.6,26.8,29.5,30.7,20396,11.9,25.8,27.0,74.5,86.9,104061,76.7,22.6,177200,69476,76133.0,2.50,2.63,26469,27779.85,1.0,50147,56460.0,52562.0,4812,52233,17.4,14175.0,19035.0,2.7,0.4,1.0,NaN,1.3,27.3,1410273.0,NaN,2966489.0,17166.0,436955.0,696,1119082.0,1589.78,114.6,none,12.2,11.7,11.8,19.4,15.9,82659.0,80099.0,2560.0,3.10,83223.0,79372.0,3851.0,4.63,82451.0,74403.0,8048.0,9.76,83459.0,75120.0,8339.0,9.99,85045.0,77418.0,7627.0,8.97,84414.0,78065.0,6349.0,7.52,85280.0,79626.0,5654.0,6.63,86415.0,81115.0,5300.0,6.13,87705.0,82843.0,4862.0,5.54,90500.0,85656.0,4844.0,5.35,10.8,2.4,3.5,0.4,91567.0,87915.0,3652.0,3.99,78.3,20.0,1.9,5.5,0.9,3.24,31.9,9.3,4.6,81.8,76.3,81.7,80930,0.6,1.2,0.0,1.8,4.6,24.8,11.5,75.2,90.8,80986,NaN,43.0,58320,29802,37897,0.8,1.1,0.0,32626,2.59,212830,10.4,7.4,13.4,1.7,4.0,8.9,0.3,3.8,2.2,11.8,86.2,83.1
2,1005,Alabama,Barbour County,29038.0,27457,27351.0,27175.0,26947.0,26749.0,26264.0,25774.0,25270.0,6.2,5.5,21.9,14.2,17.4,39.7,46.9,48.0,46.9,24.02,0.4,0.10,0.4,0.31,NaN,0.00,1.87,0.9,0.41,5.1,4.21,46.8,45.74,94.3,83.0,2.8,4.7,7.2,71.9,73.8,73.1,26.0,25.5,13.5,12.9,12.0,2327,8.0,23.8,23.4,57.2,73.4,11829,68.0,11.1,88200,9795,9191.0,2.52,2.54,15875,17891.73,0.0,33219,32884.0,33368.0,522,7990,-27.0,1527.0,1667.0,NaN,NaN,NaN,NaN,NaN,27.0,NaN,NaN,188337.0,6334.0,NaN,10,240308.0,884.88,31.0,partial,25.0,29.9,27.2,56.8,44.9,10334.0,9684.0,650.0,6.29,10161.0,9267.0,894.0,8.80,10003.0,8572.0,1431.0,14.31,10221.0,8959.0,1262.0,12.35,9849.0,8712.0,1137.0,11.54,9362.0,8283.0,1079.0,11.53,9099.0,8168.0,931.0,10.23,8848.0,7916.0,932.0,10.53,8609.0,7844.0,765.0,8.89,8402.0,7700.0,702.0,8.36,12.3,4.1,4.6,0.0,8236.0,7750.0,486.0,5.90,79.1,18.6,1.6,5.3,0.5,3.01,11.6,47.6,4.4,60.5,51.9,64.2,9345,0.6,1.6,0.0,1.1,5.2,39.1,26.1,60.9,73.2,47068,NaN,40.4,32525,17963,27434,0.3,3.6,0.0,18473,2.41,25361,30.7,16.8,50.1,1.2,9.4,11.3,0.3,3.3,3.4,6.6,46.8,45.8
3,1007,Alabama,Bibb County,20826.0,22915,22745.0,22658.0,22503.0,22533.0,22561.0,22633.0,22668.0,6.0,5.7,22.7,12.7,15.1,39.8,46.3,75.8,22.0,11.03,0.3,0.18,0.1,0.00,NaN,0.00,0.02,0.9,0.42,1.8,2.35,75.0,74.62,97.8,90.5,0.7,1.5,7.6,74.5,80.7,82.1,26.9,25.0,10.0,12.0,13.2,1883,7.4,28.3,30.0,62.0,74.8,8981,82.9,6.6,81200,7441,6916.0,3.02,2.97,19918,20572.05,1.0,41770,43079.0,43404.0,318,2927,-14.0,1192.0,1385.0,14.9,NaN,NaN,NaN,NaN,NaN,0.0,NaN,124707.0,5804.0,10757.0,8,163201.0,622.58,36.8,none,12.6,20.1,15.2,21.6,25.9,8791.0,8432.0,359.0,4.08,8749.0,8241.0,508.0,5.81,8742.0,7581.0,1161.0,13.28,8934.0,7914.0,1020.0,11.42,8933.0,7996.0,937.0,10.49,8798.0,8047.0,751.0,8.54,8705.0,8016.0,689.0,7.91,8562.0,7945.0,617.0,7.21,8572.0,8005.0,567.0,6.61,8607.0,8050.0,557.0,6.47,8.1,2.7,1.8,0.0,8506.0,8133.0,373.0,4.39,79.4,15.9,2.0,5.8,0.1,3.74,10.4,22.3,2.6,69.2,54.7,66.6,6891,0.0,0.6,0.0,0.5,1.9,25.6,29.7,74.4,79.1,60182,NaN,40.9,47542,21958,28789,0.1,0.0,0.0,20778,2.99,22493,NaN,NaN,NaN,0.6,7.0,10.7,0.0,2.0,4.5,8.0,76.8,74.5
4,1009,Alabama,Blount County,51024.0,57322,57562.0,57595.0,57623.0,57546.0,57590.0,57562.0,58013.0,6.3,6.1,24.6,14.7,17.4,40.9,50.5,92.6,1.3,0.79,0.5,0.18,0.2,0.07,NaN,0.00,0.37,1.2,0.85,8.1,9.01,88.9,87.37,92.3,87.2,4.7,7.2,5.6,74.7,80.0,79.8,34.0,34.4,12.5,13.1,13.1,4072,9.6,33.2,35.0,65.8,78.2,23887,82.0,3.7,113700,20605,20690.0,2.73,2.76,21070,21367.39,1.0,45549,47213.0,47412.0,749,6968,-11.4,3501.0,4458.0,NaN,NaN,NaN,NaN,NaN,23.2,341544.0,NaN,319700.0,5622.0,20941.0,18,294114.0,644.78,88.9,none,13.4,14.1,15.6,29.5,25.3,26629.0,25780.0,849.0,3.19,26698.0,25453.0,1245.0,4.66,26480.0,23832.0,2648.0,10.00,24906.0,22460.0,2446.0,9.82,25123.0,22939.0,2184.0,8.69,24960.0,23244.0,1716.0,6.88,24887.0,23325.0,1562.0,6.28,24535.0,23032.0,1503.0,6.13,24473.0,23152.0,1321.0,5.40,24576.0,23248.0,1328.0,5.40,11.0,3.9,5.7,0.2,24494.0,23509.0,985.0,4.02,76.8,17.9,1.8,5.9,0.4,3.33,13.1,1.6,9.3,73.0,63.5,70.1,20847,0.1,1.8,0.2,0.9,6.6,21.2,24.0,78.8,80.5,65639,NaN,40.7,49358,26976,39004,0.1,0.9,0.0,24747,2.74,57681,13.6,10.9,18.4,1.6,3.1,10.8,0.2,5.9,6.1,7.7,95.5,86.9

### Examining shape of census dataframe

In [29]:
df_census.shape

(3142, 188)

### Initial null value check of the census dataframe

In [30]:
census_nulls = null_sort(df_census)
census_nulls = pd.DataFrame(census_nulls)
census_nulls

                                                   0
pac_isl_owned_firms_2007                        3072
native_owned_firms_2007                         2652
asian_owned_firms_2007                          2407
black_owned_firms_2007                          2376
hispanic_owned_firms_2007                       2362
poverty_2019                                    1876
poverty_under_18_2019                           1876
poverty_65_and_over_2019                        1876
mean_work_travel_2019                           1752
pac_isl_2010                                    1697
mercent_whole_sales_2007                        1022
women_owned_firms_2007                           970
manufacturer_shipments_2007                      487
accommodation_food_service_2007                  272
firms_2007                                       176
percent_change_private_nonfarm_employment_2009    67
sales_2007                                        42
sales_per_capita_2007                             42
smoking_ban_2010                                  26
asian_2010                                        24
black_2010                                        17
civilian_labor_force_2008                          8
unemployment_rate_2007                             8
employed_2008                                      8
employed_2007                                      8
unemployed_2008                                    8
unemployment_rate_2008                             8
civilian_labor_force_2009                          8
employed_2009                                      8
unemployed_2009                                    8
unemployed_2007                                    8
unemployment_rate_2009                             8
civilian_labor_force_2007                          8
nonemployment_establishments_2009                  5
native_2010                                        4
poverty_age_under_5_2017                           4
fed_spending_2009                                  4
civilian_labor_force_2013                          3
unemployment_rate_2012                             3
employed_2013                                      3
unemployed_2012                                    3
employed_2012                                      3
civilian_labor_force_2014                          3
unemployed_2013                                    3
unemployment_rate_2011                             3
employed_2014                                      3
unemployed_2014                                    3
civilian_labor_force_2012                          3
poverty_age_under_18_2017                          3
unemployed_2011                                    3
employed_2011                                      3
civilian_labor_force_2011                          3
unemployment_rate_2010                             3
unemployed_2010                                    3
employed_2010                                      3
civilian_labor_force_2010                          3
civilian_labor_force_2015                          3
poverty_2016                                       3
median_household_income_2016                       3
metro_2013                                         3
unemployment_rate_2014                             3
unemployment_rate_2013                             3
employed_2015                                      3
pop2014                                            3
pop2012                                            3
pop2011                                            3
pop2000                                            3
pop2015                                            3
pop2016                                            3
unemployed_2015                                    3
pop2017                                            3
unemployment_rate_2017                             3
unemployed_2017                                    3
employed_2017                                      3
civilian_labor_force_2017                          3
unemployment_rate_2016                             3
unemployed_2016                                    3
employed_2016                                      3
civilian_labor_force_2016                          3
unemployment_rate_2015                             3
pop2013                                            3
age_under_5_2017                                   2
age_over_65_2017                                   2
median_age_2017                                    2
some_college_2017                                  2
some_college_2016                                  2
median_household_income_2017                       2
bachelors_2016                                     2
bachelors_2017                                     2
per_capita_income_2017                             2
veterans_2017                                      2
persons_per_household_2017                         2
households_2017                                    2
mean_work_travel_2017                              2
broadband_2017                                     2
hs_grad_2017                                       2
computer_2017                                      2
poverty_2017                                       2
two_plus_races_2017                                2
uninsured_2017                                     2
uninsured_age_under_6_2017                         2
uninsured_age_under_19_2017                        2
uninsured_age_over_74_2017                         2
women_16_to_50_birth_rate_2017                     2
speak_english_only_2017                            2
black_2017                                         2
hispanic_2017                                      2
white_not_hispanic_2017                            2
other_single_race_2017                             2
hs_grad_2016                                       2
pac_isl_2017                                       2
native_2017                                        2
asian_2017                                         2

### Dropping all columns that have null values in more than 70 rows

In [31]:
census_nulls1 = census_nulls[census_nulls[0] > 70]
census_nulls1 = list(census_nulls1.T.columns)
df_census = df_census.drop(columns = census_nulls1)

### Checking remaining nulls in census dataframe

In [32]:
census_nulls = null_sort(df_census)
census_nulls = pd.DataFrame(census_nulls)
census_nulls

                                                 0
percent_change_private_nonfarm_employment_2009  67
sales_2007                                      42
sales_per_capita_2007                           42
smoking_ban_2010                                26
asian_2010                                      24
black_2010                                      17
unemployed_2007                                  8
unemployment_rate_2009                           8
unemployed_2009                                  8
employed_2009                                    8
civilian_labor_force_2009                        8
unemployment_rate_2008                           8
unemployed_2008                                  8
employed_2008                                    8
civilian_labor_force_2008                        8
unemployment_rate_2007                           8
employed_2007                                    8
civilian_labor_force_2007                        8
nonemployment_establishments_2009                5
poverty_age_under_5_2017                         4
fed_spending_2009                                4
native_2010                                      4
civilian_labor_force_2014                        3
unemployment_rate_2012                           3
civilian_labor_force_2013                        3
employed_2013                                    3
unemployed_2013                                  3
unemployment_rate_2013                           3
unemployment_rate_2014                           3
employed_2014                                    3
employed_2012                                    3
civilian_labor_force_2015                        3
employed_2015                                    3
unemployed_2015                                  3
unemployment_rate_2015                           3
unemployed_2012                                  3
unemployed_2011                                  3
civilian_labor_force_2012                        3
unemployment_rate_2011                           3
employed_2011                                    3
civilian_labor_force_2011                        3
unemployment_rate_2010                           3
unemployed_2010                                  3
employed_2010                                    3
civilian_labor_force_2010                        3
metro_2013                                       3
employed_2016                                    3
median_household_income_2016                     3
poverty_2016                                     3
poverty_age_under_18_2017                        3
civilian_labor_force_2016                        3
unemployed_2014                                  3
unemployed_2016                                  3
unemployment_rate_2017                           3
pop2012                                          3
pop2013                                          3
pop2014                                          3
pop2015                                          3
pop2016                                          3
pop2017                                          3
unemployment_rate_2016                           3
pop2000                                          3
pop2011                                          3
employed_2017                                    3
unemployed_2017                                  3
civilian_labor_force_2017                        3
hs_grad_2016                                     2
poverty_2017                                     2
hs_grad_2017                                     2
median_household_income_2017                     2
age_under_5_2017                                 2
computer_2017                                    2
uninsured_age_over_74_2017                       2
median_age_2017                                  2
some_college_2016                                2
uninsured_age_under_19_2017                      2
some_college_2017                                2
bachelors_2017                                   2
uninsured_age_under_6_2017                       2
bachelors_2016                                   2
uninsured_2017                                   2
age_over_65_2017                                 2
pac_isl_2017                                     2
broadband_2017                                   2
veterans_2017                                    2
women_16_to_50_birth_rate_2017                   2
households_2017                                  2
mean_work_travel_2017                            2
persons_per_household_2017                       2
speak_english_only_2017                          2
white_not_hispanic_2017                          2
hispanic_2017                                    2
per_capita_income_2017                           2
two_plus_races_2017                              2
other_single_race_2017                           2
asian_2017                                       2
native_2017                                      2
black_2017                                       2

### Splitting dataframe columns into numeric and categorical categories

#### Isolating numerical columns by dropping categoricals.

In [33]:
df_census_num = df_census.drop(columns = ['fips', 'state','metro_2013', 'smoking_ban_2010', 'uninsured_age_under_6_2017'])

### Filling numeric null values with the mean of the respective column

In [34]:
column_means = df_census_num.mean()
df_census_num = df_census_num.fillna(column_means)

### Checking for nulls in the numeric subset of the

In [35]:
df_census_num.isnull().sum().sum()

0

#### Isolating categorical columns by dropping numerics.

In [36]:
df_census_cat = df_census[['metro_2013', 'smoking_ban_2010']]

### Filling categorical nulls with 'Unknown' string

In [37]:
df_census_cat = df_census_cat.fillna('Unknown')

### Dummifiying categorical variables

In [38]:
df_census_cat = pd.get_dummies(df_census_cat, drop_first=True)

### Examining categorical variable dataframe

In [39]:
df_census_cat.head()

,metro_2013_1.0,metro_2013_Unknown,smoking_ban_2010_comprehensive,smoking_ban_2010_none,smoking_ban_2010_partial
0,1,0,0,1,0
1,1,0,0,1,0
2,0,0,0,0,1
3,1,0,0,1,0
4,1,0,0,1,0

### Checking categorical variable dataframe for null values

In [40]:
df_census_cat.isnull().sum().sum()

0

### Concatenating categorical and numerical dataframes

In [41]:
df_census1 = pd.concat([df_census_num,df_census_cat], axis = 1)

### Reattaching state column to new dataframe

In [42]:
df_census1['state'] = df_census['state']

### Checking for null values

In [43]:
df_census1.isnull().sum().sum()

0

### Exporting cleaned census data as CSV file

In [44]:
df_census1.to_csv('./cleaned_data/counties2.csv')

## Names DataFrame

### Examining last names dataframe

In [45]:
df_names.head()

,name,rank,count,prop100k,cum_prop100k,pctwhite,pctblack,pctapi,pctaian,pct2prace,pcthispanic
0,SMITH,1,2376206,880.85,880.85,73.35,22.22,0.40,0.85,1.63,1.56
1,JOHNSON,2,1857160,688.44,1569.30,61.55,33.80,0.42,0.91,1.82,1.50
2,WILLIAMS,3,1534042,568.66,2137.96,48.52,46.72,0.37,0.78,2.01,1.60
3,BROWN,4,1380145,511.62,2649.58,60.71,34.54,0.41,0.83,1.86,1.64
4,JONES,5,1362755,505.17,3154.75,57.69,37.73,0.35,0.94,1.85,1.44

### Checking last names dataframe for null values

In [46]:
df_names.isnull().sum()

name            1
rank            0
count           0
prop100k        0
cum_prop100k    0
pctwhite        0
pctblack        0
pctapi          0
pctaian         0
pct2prace       0
pcthispanic     0
dtype: int64

### Replacing "(S)" values for 0

"(S)" values represent values that are less sigficant, generally close to 0

In [47]:
df_names = df_names.replace('(S)', 0)

### Dropping remaining null values

In [48]:
df_names.dropna(axis = 0, inplace = True)

### Exporting cleaned last name data as CSV file

In [49]:
df_names.to_csv('./cleaned_data/names2.csv')